body {
    background-color: white;
}

.location-head h1{
    text-align: center;

}
.location-card {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #d4d4d4;

}

.location-content {
    display: flex;
    justify-content: space-between; /* ให้มีช่องว่างระหว่างรูปกับกราฟ */
    align-items: center;
    gap: 20px; /* เว้นระยะห่าง */
  }
  


.location-card img {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
    margin-right: 250px;
    max-width: 500px;
    border-radius: 20px; 
    border: 1px solid black;
}

.location-image img {
    margin-left: 30px;
    width: 600px; /* ปรับขนาดรูป */
    height: auto;
    border-radius: 10px;
  }

.location-info p {
    margin: 5px 0;
    margin-left: -200px;
    font-size: 25px;
    font-family: 'JasmineUPC', sans-serif;
}

.location-info-chart {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1; /* ให้พื้นที่เท่ากับรูป */
}

.location-chart {
    margin-left: -230px;
}

.location-chart canvas {
    width: 95% !important; /* บังคับให้แผนภูมิขยายเต็มพื้นที่ */
    height: auto !important;
  }
  