body {
    background-color: white;
}

.location-head h1{
    text-align: center;
    margin-bottom: 0%;
    font-size: 28px;
    font-family: 'Inter', sans-serif;
}

.location-card {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    height: 790px;
    max-width: 1920px;
    max-height: 800px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
}

.location-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์ */
    justify-content: space-between; /* ให้มีช่องว่างระหว่างรูปกับกราฟ */
    align-items: center;
  }

.location-image img {
    margin: auto;
    margin-top: 5%;
    margin-left: 25%;
    width: 400px; /* ปรับขนาดรูป */
    height: 190px;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    border: solid black;
}

.location-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์ */
    grid-template-rows: repeat(2, auto); /* 2 แถว */
    column-gap: 60px;
    align-items: center;
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    margin: auto;
    margin-top: 5%;
    margin-left: 0%;
}

.location-info p {
    justify-content: space-between;
}

.location-info p span:first-child {
    min-width: 160px; /* ปรับขนาดให้เท่ากัน */
    display: inline-block;
}

.location-chart canvas {
    margin: auto;
    margin-top: 20px;
    width: 95% !important; /* บังคับให้แผนภูมิขยายเต็มพื้นที่ */
    height: 450px !important;
    max-width: 1368px;
  }

.density-low {
    color: #000000;
    padding: 10px 10px;
    font-size: 30px;
    background: 10px rgb(40, 204, 40);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.density-medium {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 30px;
    background: 10px yellow;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.density-high {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 30px;
    background: 10px red;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.count-low {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 30px;
    background: 10px rgb(40, 204, 40);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}
  
.count-medium {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 30px;
    background: 10px rgb(255, 242, 0);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}
  
.count-high {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 30px;
    background: 10px rgb(255, 0, 0);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}
  
@media (max-width: 768px) {
.location-container {
    display: flex;
    flex-direction: column;
    }

.location-card {
    display: flex;
    flex-direction: column;
    width: 368px;
    max-width: auto;
    height: auto;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    border-radius: 30px;
  }

.location-head h1{
    align-items: start;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

.location-image {
    align-items: center;
    display: flex;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.location-image img {
    margin: auto;
    width: 300px;
    max-width: fit-content;
    height: 200px;
    border: 2px solid black;
    border-radius: 15px;
}

.location-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* ให้มีช่องว่างระหว่างรูปกับกราฟ */
    align-items: center;
  }

.location-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    text-align: left;
  }

.location-info p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    justify-content: space-between;
}

.location-info p span:first-child {
    min-width: 130px; /* ปรับขนาดให้เท่ากัน */
    display: inline-block;
}


.location-chart {
    width: 100%;
    display: flex;
    justify-content: center;
}

.location-chart canvas {
    width: 100% !important;
    max-width: 300px;
    height: auto !important;
}


.density-low {
    color: #000000;
    padding: 10px 10px;
    font-size: 10px;
    background: 10px rgb(40, 204, 40);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.density-medium {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 10px;
    background: 10px yellow;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.density-high {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 10px;
    background: 10px red;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.count-low {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 10px;
    background: 10px rgb(40, 204, 40);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}
  
.count-medium {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 10px;
    background: 10px rgb(255, 242, 0);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}
  
.count-high {
    color: #000000;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 10px;
    background: 10px rgb(255, 0, 0);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}
}

