body {
    background-color: white;
}

.location-head h1{
    text-align: center;

}
.location-card {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #d4d4d4;

}

.location-content {
    display: flex;
    justify-content: space-between; /* ให้มีช่องว่างระหว่างรูปกับกราฟ */
    align-items: center;
    gap: 20px; /* เว้นระยะห่าง */
  }
  


.location-card img {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
    margin-right: 250px;
    max-width: 500px;
    border-radius: 20px; 
    border: 1px solid black;
}

.location-image img {
    margin-left: 30px;
    width: 500px; /* ปรับขนาดรูป */
    height: 350px;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
  }

.location-info p {
    margin-left: -200px;
    font-size: 18px;
    font-family: 'JasmineUPC', sans-serif;
}

.location-info-chart {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1; /* ให้พื้นที่เท่ากับรูป */
}

.location-chart {
    margin-left: -230px;
}

.location-chart canvas {
    width: 95% !important; /* บังคับให้แผนภูมิขยายเต็มพื้นที่ */
    height: auto !important;
  }

.density-low {
    color: green;
    padding: 4px 4px;
    font-size: 30px;
}

.density-medium {
    color: yellow;
}

.density-high {
    color: red;
}

.count-low {
    color: green;
    background-color: transparent;
    padding: 4px 4px;
    font-size: 30px;
}
  
.count-medium {
    color: yellow;
}
  
.count-high {
    color: red;
}
  
  @media (max-width: 768px) {
    .location-card {
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }

    .location-content {
        flex-direction: column; /* ให้เนื้อหาตัวอื่นแสดงเป็นคอลัมน์ */
        gap: 20px;
    }

    .location-image img {
        width: 350px; /* ปรับขนาดรูปให้พอดีกับหน้าจอ */
        height: auto;
        margin: auto;
    }

    .location-info {
        text-align: center;
        margin-left: 0;
    }

    .location-info p {
        font-size: 20px; /* ขนาดตัวอักษรเล็กลง */
        margin-left: 0;
    }

    .location-chart {
        margin-left: 0;
        margin-top: 20px;
    }

    .location-chart canvas {
        width: 95% !important; /* ขยายกราฟให้เต็มหน้าจอ */
        height: auto !important;
        margin-left: -5px;
    }

    .location-head h1 {
        font-size: 22px; /* ขนาดข้อความในหัวข้อเล็กลง */
    }
}