body {
  background-color: #d4d4d4;
}

.time-display {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-left: -750px;
  text-align: left;
  margin-top: 20px;
}

.navbar {
  border-bottom: 2px solid #d4d4d4;
  background-color: #d4d4d4;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 30px;
}

.logo {
  flex: 1;
}

.logo img {
  margin-top: 10px;
  height: 100px;
  margin-left: -150px;
}

select {
  background-color: #d4d4d4;
  padding: 8px 12px;
  cursor: pointer;
  font-family: 'JasmineUPC', sans-serif;
  border: none;
  font-size: 27px;
  font-weight: bold;
}

select:hover {
  background-color: #b8b7b7d7;
  border-radius: 5px;
}

select option {
  background-color: #d4d4d4;
  color: black;
  padding: 5px;
  font-size: 20px;
  font-family: 'JasmineUPC', sans-serif;
  border-radius: 5px;
}

option:hover {
  background-color: #b8b7b7d7;
  border-radius: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'JasmineUPC', sans-serif;
  font-size: 27px;
  align-items: center;
  font-weight: bold;
  margin-right: -100px;
}

.location-select {
  padding: 5px;
  border-radius: 5px;
}

.menu-icon {
  display: none;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    height: 10px;
    justify-content: space-between; /* ให้เมนูและปุ่มเมนูอยู่ห่างกัน */
  }

  .logo img {
    margin-top: -20px;
    margin-left: 0px;
    height: 60px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 35px;
    position: fixed;
    right: 0px;
    margin: auto;
    margin-top: 31px;
    z-index: 9999;
    background-color: rgba(212, 212, 212, 0.9); /* จาง 50% */
}


  .nav-links.active {
    display: flex;
    font-size: 12px;
  }

  .nav-links li {
    position: relative;
  }

  .menu-icon {
    display: block; /* แสดงปุ่มเมนู */
    margin-right: 20px;
    
  }

  .time-display {
    display: none;
    
  }

  .location-select {
    font-size: 12px;
  }

  select option {
    font-size: 12px;
    margin: auto;
    align-items: center;
  }
}



.no-underline {
text-decoration: none;
color: black;
}